@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
  }

.cntr {
    text-align: center;
}

/*  SECTIONS  */
.row {
	clear: both;
	padding: 0px;
	margin: 0px;  
}
section {
    background-color: grey;
    border: 1px solid;
    padding: 0 0 1% 1%;
}
section header {
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    color: white;
}
section header .title {
    float: right;    
    padding: 7px;
    width: 150px;
    text-align: center;
}

section header #chicken { background-color: rgb(165, 121, 0);}
section header #beef { background-color: rgb(75, 55, 0);}
section header #sushi { background-color: rgb(0, 44, 15);}

section p {
    padding-right: 10px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% .5%;
}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) and (max-width: 767px)  {
    .col {  margin: 1% 0 1% 0%; }
	section { width: 100%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    section{
        width: 47%;
    }
    section:nth-child(2) {
        float: right;
    }
    section:last-child {
        width: 98.4%;
        margin: 1% 1% 1% .5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    section{
        width: 30%;
    }

}
